@import '../../../scss/constants/responsive';

.MainFooter {
    width: 100%;
    padding: $margin__sm;

    flex-direction: column;

    @media (min-width: $breakpoint__sm) {
        flex-direction: row;
    }
}