@import '../../../scss/constants/responsive';
@import '../../../scss/constants/transition';

.MainFooter {
    padding: $margin__narrow $margin__wide;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: $margin__narrow * 2;

    @media (min-width: $width__page__narrow) {
        flex-direction: row;
    }

    transition: opacity $transitionDuration__slow $transitionDuration__slower;
    opacity: 0;
}

.MainFooter__visible {
    opacity: 1;
}