svg {
    &.byCombo {
        .copperDark { fill: hsl(34, 28%, 47%); }
        .copperMedium { fill: hsl(34, 28%, 57%); }
        .mapleDark { fill: hsl(23, 17%, 47%); }
        .mapleMedium { fill: hsl(23, 19%, 57%); }
        .chromeDarkest { fill: hsl(160, 10%, 37%); }
        .chromeDarker { fill: hsl(160, 10%, 42%); }
        .chromeDark { fill: hsl(160, 10%, 47%); }
        .chromeMedium { fill: hsl(160, 10%, 57%); }
        .steelDark { fill: hsl(195, 8%, 47%); }
        .steelMedium { fill: hsl(195, 8%, 57%); }
        .rubberMediumDark { fill: hsl(240, 5%, 32%); }
        .bloodDarker { fill: hsl(0, 45%, 42%); }
        .bloodDark { fill: hsl(0, 45%, 47%); }
        .bloodLight { fill: hsl(0, 45%, 67%); }
        
        .bloodDried { fill: hsl(17.8, 37.7%, 57.8%); }
        .tongueFold { fill: hsl(350, 26%, 23%); }
        .tongue { fill: hsl(350, 26%, 63%); }
        .skinFold,
        .skinDisplay { fill: hsl(29, 45%, 28%); }
        .skinEastAsian { fill: hsl(29, 45%, 68%); }
        .deadEyeBlack,
        .eyebrowBlack,
        .hairBlack { fill: hsl(26, 7%, 25%); }
    }
}
