svg {
    &.byCombo {
        .baseBottom { fill: hsl(25, 34%, 48%); }
        .baseFront { fill: hsl(25, 35%, 44%); }
        .baseTop { fill: hsl(25, 39%, 53%); }
        .silverFront { fill: hsl(178, 12%, 57%); }
        .silverTop { fill: hsl(176, 17%, 64%); }
        .plasticSide { fill: hsl(154, 7%, 39%); }
        .plasticFront { fill: hsl(155, 7%, 35%); }
        .plasticTop { fill: hsl(154, 7%, 44%); }
        .label { fill: hsl(68, 27%, 59%); }
        .bar { fill: hsl(175, 6%, 59%); }
    }
}
