@import '../../../scss/constants/shadows';
@import '../../../scss/constants/transition';

.ButtonAnimatable {
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonAnimatable__enabled {
    cursor: pointer;
    filter: $dropShadow;

    .Button:hover
    & {
        animation: bounceHover $transitionDuration__slow;
        filter: $dropShadow__lightHover;
    }

    .Button:active
    & {
        transform: scale(0.9);
    }
}