@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.AppFooter {
    position: absolute;
    top: 100%;
    width: 100%;

    height: $height__appFooter;
    background-color: $colour__background__subFooter;

    display: flex;
    justify-content: center;
    align-items: center;
}