@import '../../../scss/constants/responsive';

/**
* The math isn't perfect, unfortunately. These hard-coded multipliers are meant
* to keep the ratio of font size to page width consistent across screens. I've
* verified they're correct, at least for the text I have now. They should only
* ever decrease in size.
*/
$hardcoded__multiplier__sm: 0.9810;
$hardcoded__multiplier__md: 0.9899;

.StyledPage {
    flex-grow: 1;
    display: flex;

    @media (min-width: $breakpoint__xs) {
        width:
            $width__sm
            * $hardcoded__multiplier__sm
            * $hardcoded__multiplier__md;
    }

    @media (min-width: $breakpoint__sm) {
        width:
            $width__md
            * $hardcoded__multiplier__md;
    }

    @media (min-width: $breakpoint__md) {
        width: $width__lg;
    }
}
