@import '../../../scss/constants/responsive';

.StyledPage {
    flex-grow: 1;
    display: flex;

    @media (min-width: $breakpoint__sm) {
        width: $width__md;
    }

    @media (min-width: $breakpoint__md) {
        width: $width__lg;
    }
}
