@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.DemoLinkContent {
    color: $colour__text__dark;

    padding: $margin__xs;

    @media (min-width: $breakpoint__sm) {
        padding: $margin__sm;
    }
}

.DemoLinkContent__image {
    width: $length__icon__md * 3;

    @media (min-width: $breakpoint__sm) {
        width: $length__icon__md * 4;
    }

    @media (min-width: $breakpoint__md) {
        width: $length__icon__md * 5;
    }
}