@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.MainHeader {
    padding: $margin__sm $margin__md;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: $colour__background;

    @media (min-width: $width__page__narrow) {
        width: $width__page__narrow;
        flex-direction: row;
    }
}
