@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.MainHeaderFrame {
    position: fixed;
    top: 0;
    background-color: $colour__background__light;
    z-index: 1;

    padding: $margin__xxs $margin__xs;

    @media (min-width: $breakpoint__sm) {
        padding: $margin__xs $margin__sm;
    }

    @media (min-width: $breakpoint__md) {
        padding: $margin__sm $margin__md;
    }
    
    // For gradient.
    padding-bottom: $margin__xs !important;
    $gradient__header: linear-gradient(
        to bottom,
        $colour__background__light calc(100% - #{$margin__xs}),
        transparent 100%
    );

    mask-image: $gradient__header;
}

.MainHeader {
    width: 100%;
    flex-direction: column;

    @media (min-width: $breakpoint__sm) {
        flex-direction: row;
    }
}
