@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.MainHeaderFrame {
    position: fixed;
    top: 0;
    z-index: 1;
    
    background-color: $colour__background__light;
    
    // For gradient.
    padding-bottom: $margin__xxs + $margin__xs;
    $gradient__header: linear-gradient(
        to bottom,
        $colour__background__light calc(100% - #{$margin__xs}),
        transparent 100%
    );

    mask-image: $gradient__header;
}

.MainHeader {
    width: 100%;
    flex-direction: column;

    @media (min-width: $breakpoint__sm) {
        flex-direction: row;
    }
}
