@import '../../scss/constants/colours';
@import '../../scss/constants/responsive';

.DemoHeader {
    color: $colour__text__dark;
}

.DemoHeader__image {
    width: $length__icon__lg * 3;

    @media (min-width: $breakpoint__sm) {
        width: $length__icon__lg * 4;
    }

    @media (min-width: $breakpoint__md) {
        width: $length__icon__lg * 5;
    }
}