@import '../../../scss/constants/responsive';

.PageRow {
    width: 100%;
    padding-top: $margin__xs;
}

.PageRow__bottom {
    padding-bottom: $margin__xs;
    border-top: 1px solid hsla(0, 0%, 50%, 0.5);
}