/* https://color.adobe.com */

$colour__background__medium: hsl(0, 0%, 87%);
$colour__background__light: hsl(0, 0%, 100%);

$colour__neutral__dark: hsl(0, 0%, 53%);
$colour__neutral__light: hsl(0, 0%, 73%);

$colour__opaque__dark: hsla(0, 0%, 17%, 0.7);
$colour__opaque__medium: hsla(0, 0%, 30%, 0.7);

$colour__text__dark: hsl(0, 0%, 30%);
$colour__text__light: hsl(0, 0%, 100%);

$colour__primary__dark: hsl(211, 27%, 53%);
$colour__primary__medium: hsl(211, 27%, 68%);
$colour__primary__light: hsl(211, 27%, 83%);

$colour__link__dark: hsl(24, 62%, 55%);
$colour__link__medium: hsl(24, 67%, 65%);
$colour__link__light: hsl(24, 72%, 75%);

$colour__visited__dark: hsl(211, 42%, 55%);
$colour__visited__medium: hsl(211, 47%, 65%);
$colour__visited__light: hsl(211, 52%, 75%);
