/* https://color.adobe.com */

$colour__background: hsl(60, 50%, 95%);
$colour__background__subFooter: hsl(205, 33%, 80%);

$colour__neutral__light: hsl(0, 0%, 73%);
$colour__neutral__dark: hsl(0, 0%, 53%);
$colour__neutral__opaque: hsla(0, 0%, 43%, 0.6);

$colour__text__light: hsl(0, 0%, 100%);
$colour__text__dark: hsl(0, 0%, 30%);

$colour__primary__dark: hsl(1, 27%, 53%);
$colour__primary__light: hsl(1, 27%, 83%);

$colour__link__dark: hsl(205, 62%, 55%);
$colour__link__medium: hsl(205, 53%, 44%);
$colour__link__light: hsl(205, 44%, 33%);