@use 'sass:math';

$multiplier__size: 1.33;

/* Recent. */
$width__default: 800px;
$width__sm: math.div($width__default, $multiplier__size * 2);
$width__md: math.div($width__default, $multiplier__size);
$width__lg: $width__default;

$height__appFooter: 48px;

$length__icon__xs: 18px;
$length__icon__sm: 24px;
$length__icon__md: 32px;
$length__icon__lg: 44px;

$margin__xxs: 4px;
$margin__xs: 8px;
$margin__sm: 16px;
$margin__md: 24px;
$margin__lg: 32px;
$margin__xl: 40px;

$breakpoint__xs: $width__sm + $margin__xs * 2;
$breakpoint__sm: $width__md + $margin__sm * 2;
$breakpoint__md: $width__lg + $margin__md * 2;