$width__modal: 540px;

$width__page__narrow: 800px;
$width__page__wide: 1200px;

$height__homeButton: 128px;

$height__subFooter: 48px;

$length__icon__small: 24px;
$length__icon__medium: 32px;
$length__icon__large: 44px;

$margin__narrow: 8px;
$margin__wide: 24px;