/* Recent. */
$width__sm: 480px;
$width__md: 640px;
$width__lg: 800px;

$height__appFooter: 48px;

$length__icon__xs: 18px;
$length__icon__sm: 24px;
$length__icon__md: 32px;
$length__icon__lg: 44px;

$margin__xxs: 4px;
$margin__xs: 8px;
$margin__sm: 16px;
$margin__md: 24px;
$margin__lg: 32px;
$margin__xl: 40px;

$breakpoint__xs: 480px;
$breakpoint__sm: 720px;
$breakpoint__md: 960px;
$breakpoint__lg: 1200px;
$breakpoint__xl: 1440px;