@import './colours';

$textShadow__dark: 0.5px 1px $colour__text__dark;

$colour__shadow__light: hsla(240, 33%, 15%, 0.25);
$colour__shadow__medium: hsla(240, 33%, 15%, 0.5);

$dropShadow: drop-shadow(0 2px 4px $colour__shadow__light);

$colour__shadow__lightHover: hsla(24, 100%, 93%, 0.9);
$dropShadow__lightHover: drop-shadow(0 2px 8px $colour__shadow__lightHover);

$boxShadow__above: 0 2px 4px 1px $colour__shadow__light;
$boxShadow__below: 0 -2px 4px 1px $colour__shadow__light;