@import '../../scss/constants/responsive.scss';

.ShareButtons {
    padding: $margin__narrow 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ShareButtons__buttons {
    margin-top: $margin__narrow;

    display: flex;
    justify-content: center;
    align-items: center;
}