@import '../../scss/constants/responsive.scss';

.ShareButtons {
    padding: $margin__sm 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ShareButtons__label {
    text-align: right;
}