@import '../../../../scss/constants/responsive';

.HeaderWrapper {
    padding: $margin__xxs $margin__xs;
    width: $width__sm;
    
    @media (min-width: $breakpoint__sm) {
        padding: $margin__xs $margin__sm;
        width: $width__md;
    }
    
    @media (min-width: $breakpoint__md) {
        padding: $margin__sm $margin__md;
        width: $width__lg;
    }

    padding-bottom: $margin__xs !important;
}
