@import '../../scss/constants/responsive';

.Page {
    flex-grow: 1;

    width: 100%;
    padding: $margin__md $margin__xs;

    @media (min-width: $breakpoint__sm) {
        padding: $margin__md $margin__sm;
    }

    @media (min-width: $breakpoint__md) {
        padding: $margin__md;
    }

    gap: $margin__md;

    overflow-y: scroll;
}
