@import '../../scss/constants/colours';
@import '../../scss/constants/responsive';
@import '../../scss/constants/shadows';

.Page {
    flex-grow: 1;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: $margin__md;
    overflow-y: scroll;

    // background-color: $colour__background__light;
}

.Page__narrow {
    @media (min-width: $width__page__narrow) {
        width: $width__page__narrow;
    }
}

.Page__wide {
    @media (min-width: $width__page__wide) {
        width: $width__page__wide;
    }
}
