@import '../../../../scss/constants/responsive';

.PopupCloseButton {
    position: absolute;
    top: -$length__icon__lg * 0.5;
    left: 0;

    svg {
        height: $length__icon__lg;
        width: $length__icon__lg;
    }    
}
