@import '../../../scss/constants/responsive';

.StyledFrame {
    width: 100%;

    @media (min-width: $breakpoint__sm) {
        width: $width__md;
    }

    @media (min-width: $breakpoint__md) {
        width: $width__lg;
    }
}