@import '../../scss/constants/responsive.scss';
@import '../../scss/constants/transition.scss';

.FollowButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 $margin__narrow;
}