@import '../../scss/constants/responsive.scss';
@import '../../scss/constants/transition.scss';

.FollowButtons {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition:
        opacity $transitionDuration__slower $transitionDuration__slower;
}

.FollowButtons__shown {
    opacity: 1;
}

.FollowButtons__label {
    margin-right: $margin__narrow * 0.5;
}