@import '../../../../scss/constants/responsive';

.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 $margin__xs;

    @media (min-width: $breakpoint__sm) {
        gap: 0 $margin__sm;
    }

    @media (min-width: $breakpoint__md) {
        gap: 0 $margin__md;
    }
}