@import '../../../../scss/constants/responsive';

.Menu {
    gap: 0 $margin__xs;

    @media (min-width: $breakpoint__sm) {
        gap: 0 $margin__sm;
    }

    @media (min-width: $breakpoint__md) {
        gap: 0 $margin__md;
    }
}