@import '../../../../scss/constants/responsive';

.HomeButton {
    .ButtonAnimatable {
        width: 50%;
    
        @media (min-width: $breakpoint__sm) {
            width: 75%;
        }
    
        @media (min-width: $breakpoint__md) {
            width: 100%;
        }
    }
}