@import '../../../scss/constants/responsive';

.ShareButton {
    svg {
        height: $length__icon__sm;
        width: $length__icon__sm;
    }

    @media (min-width: $width__page__narrow) {
        svg {
            height: $length__icon__md;
            width: $length__icon__md;
        }    
    }
}