@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';
@import '../../../scss/constants/shadows';
@import '../../../scss/constants/transition';

.PopupView {
    position: relative;
    width: $width__sm;
    gap: $margin__sm;

    padding: $margin__md;
    background-color: $colour__background__light;
    border-radius: $borderRadius__wide;
    box-shadow: $boxShadow__above;

    transition: opacity $transitionDuration__slow $transitionDuration__slower;
    opacity: 0;
}

.PopupView__visible {
    animation: bounceIn $transitionDuration__slow $transitionDuration__slower;
    opacity: 1;
}