@import '../../scss/constants/colours';

.App {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: $colour__background__light;
}