@import '../../../scss/constants/responsive';

.Body {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: $margin__md;

    line-height: 1.5em;

    @media (min-width: $breakpoint__lg) {
        font-size: 1.5em;
    }
}