@import '../constants/colours';

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-Regular.ttf');
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-RegularItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Limelight;
    src: url('../assets/fonts/Limelight/Limelight-Regular.ttf');
}

.font__text {
    font-family: Bitter, Arial;
}

.font__heading {
    font-family: Limelight, Georgia;
}

.font__finePrint {
    font-size: 0.75em;
    color: $colour__neutral__dark;
}