@import '../constants/colours';
@import '../constants/responsive';

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-Regular.ttf');
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-RegularItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

.font__text {
    font-family: Bitter, Arial;
}

.font__heading {
    font-family: Bitter, Georgia;
    font-weight: bold;
}

.font__finePrint {
    font-size: 0.75em;
    color: $colour__neutral__dark;
}

.fontSize__sm { font-size: 0.66em; }
.fontSize__md { font-size: 0.75em; }
.fontSize__lg { font-size: 1em; }

@media (min-width: $breakpoint__xs) {
    .fontSize__sm { font-size: 0.75em; }
    .fontSize__md { font-size: 1em; }
    .fontSize__lg { font-size: 1.15em; }
}

@media (min-width: $breakpoint__sm) {
    .fontSize__sm { font-size: 0.88em; }
    .fontSize__md { font-size: 1.16em; }
    .fontSize__lg { font-size: 1.33em; }
}

@media (min-width: $breakpoint__md) {
    .fontSize__sm { font-size: 1em; }
    .fontSize__md { font-size: 1.33em; }
    .fontSize__lg { font-size: 1.66em; }
}