@use 'sass:math';
@import '../constants/colours';
@import '../constants/responsive';

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-Regular.ttf');
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-RegularItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

.font__text {
    font-family: Bitter, Arial;
}

.font__heading {
    font-family: Bitter, Georgia;
    font-weight: bold;
}

.font__finePrint {
    font-size: 0.75em;
    color: $colour__neutral__dark;
}

/**
 * Unfortunately, I started with this arbitrary value of 1.33em, and now I have
 * to keep it in order to maintain the desired ratio of font size to page width.
 */
$fontSize__default: 1.33em;

$fontSize__1: $fontSize__default * $multiplier__size;
$fontSize__2: $fontSize__default;
$fontSize__3: math.div($fontSize__2, $multiplier__size);
$fontSize__4: math.div($fontSize__3, $multiplier__size);
$fontSize__5: math.div($fontSize__4, $multiplier__size);
$fontSize__6: math.div($fontSize__5, $multiplier__size);

.fontSize__sm { font-size: $fontSize__5; }
.fontSize__md { font-size: $fontSize__4; }
.fontSize__lg { font-size: $fontSize__3; }

@media (min-width: $breakpoint__sm) {
    .fontSize__sm { font-size: $fontSize__4; }
    .fontSize__md { font-size: $fontSize__3; }
    .fontSize__lg { font-size: $fontSize__2; }
}

@media (min-width: $breakpoint__md) {
    .fontSize__sm { font-size: $fontSize__3; }
    .fontSize__md { font-size: $fontSize__2; }
    .fontSize__lg { font-size: $fontSize__1; }
}