@import '../constants/colours';

* {
    box-sizing: border-box;
}

body {
    background-color: $colour__background__subFooter;
    color: $colour__text__dark;
}

body, p, h1, h3, h5, ul {
    margin: 0;
}

h1 {
    text-align: center;
}

label {
    color: $colour__primary__dark;
}

a {
    text-decoration: none;
}

button {
    font-size: 1em;
}

input {
    padding: 0;
    font-size: 1em;

    &:focus {
        outline: none;
    }
}

input[type=submit] {
    &[disabled] {
        color: $colour__neutral__light;
        cursor: default;
    }
}

a, button {
    &[disabled] {
        color: $colour__primary__dark;
        cursor: default;
    }
}

button, input[type=submit] {
	background: none;
	border: none;
	padding: 0;
}

a, button, input[type=submit] {
    cursor: pointer;
    color: $colour__link__dark;

    &:not([disabled]):hover {
        color: $colour__link__medium;
    }

    &:not([disabled]):active {
        color: $colour__link__light;
    }
}

em, i {
    position: relative;
    left: -0.025em; // Eyeballed.
}