@use 'sass:math';
@import '../constants/colours';
@import '../constants/responsive';

* {
    box-sizing: border-box;
}

body {
    background-color: $colour__neutral__light;
    color: $colour__text__dark;
}

body, p, h1, h2, h3, h5, ul {
    margin: 0;
}

label {
    color: $colour__primary__dark;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.33em;
}

h3 {
    font-size: 1.17em;
}

h5 {
    font-size: 0.83em;
}

a {
    text-decoration: none;
}

button {
    font-size: 1em;
}

input {
    padding: 0;
    font-size: 1em;

    &:focus {
        outline: none;
    }
}

input[type=submit] {
    &[disabled] {
        color: $colour__neutral__light;
        cursor: default;
    }
}

a, button {
    &[disabled] {
        color: $colour__primary__dark;
        cursor: default;
    }
}

button, input[type=submit] {
	background: none;
	border: none;
	padding: 0;
}

a, button, input[type=submit] {
    cursor: pointer;
}

em, i {
    position: relative;
    left: -0.025em; // Eyeballed.
}

$ul__padding__md: 40px;
$ul__padding__sm: math.div($ul__padding__md, $multiplier__size);
$ul__padding__xs: math.div($ul__padding__sm, $multiplier__size);

ul {
    padding-inline-start: $ul__padding__xs;

    @media (min-width: $breakpoint__sm) {
        padding-inline-start: $ul__padding__sm;
    }

    @media (min-width: $breakpoint__md) {
        padding-inline-start: $ul__padding__md;
    }
}

li {
    &:not(:first-child) {
        margin-top: $margin__xs;
    }
}