@import './classes/animation';
@import './classes/font';
@import './classes/global';
@import './constants/colours';
@import './svgs/style';

@font-face {
    font-family: AsapCondensed;
    src: url('../assets/fonts/AsapCondensed/AsapCondensed-Regular.ttf');
}

@font-face {
    font-family: AsapCondensed;
    src: url('../assets/fonts/AsapCondensed/AsapCondensed-RegularItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: AsapCondensed;
    src: url('../assets/fonts/AsapCondensed/AsapCondensed-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: AsapCondensed;
    src: url('../assets/fonts/AsapCondensed/AsapCondensed-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Sexsmith;
    src: url('../assets/fonts/Sexsmith-Regular/Sexsmith-Regular.ttf');
}