@import './classes/animation';
@import './classes/font';
@import './classes/global';
@import './svgs/style';

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-Regular.ttf');
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-RegularItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Bitter;
    src: url('../assets/fonts/Bitter/Bitter-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Birra;
    src: url('../assets/fonts/Birra/Birra-Stout.otf');
}