@import '../../scss/constants/borders';
@import '../../scss/constants/responsive';

.Image {
    img {
        width: 100%;

        border-radius: $borderRadius__lg;
        overflow: hidden;

        // Hacky fix to prevent Safari from messing with aspect ratio.
        object-fit: cover;
    }
}