@import '../../../scss/constants/borders';
@import '../../../scss/constants/colours';
@import '../../../scss/constants/responsive';

.FollowButton {
    svg {
        height: $length__icon__sm * 0.75;
        width: $length__icon__sm * 0.75;
    }

    @media (min-width: $breakpoint__sm) {
        svg {
            height: $length__icon__sm;
            width: $length__icon__sm;
        }
    }
}

.FollowButton__field {
    padding: $margin__xs $margin__xs * 1.5;

    border-radius: $borderRadius__md;

    @media (min-width: $breakpoint__sm) {
        font-size: 1.25em;
    }

    svg > * {
        fill: $colour__text__light;
    }
}
