@import '../../../scss/constants/responsive';

.PageFooter {
    width: 100%;
    margin-top: $margin__md;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: $margin__md;
}