@import '../../scss/constants/responsive';

.CustomButton {
    svg {
        height: $length__icon__xs;
        width: $length__icon__xs;
    }

    @media (min-width: $breakpoint__sm) {
        svg {
            height: $length__icon__sm;
            width: $length__icon__sm;
        }
    }

    @media (min-width: $breakpoint__md) {
        svg {
            height: $length__icon__md;
            width: $length__icon__md;
        }
    }
}

.CustomButton__isInMenu {
    svg {
        height: $length__icon__sm;
        width: $length__icon__sm;
    }

    @media (min-width: $breakpoint__sm) {
        svg {
            height: $length__icon__md;
            width: $length__icon__md;
        }
    }

    @media (min-width: $breakpoint__md) {
        svg {
            height: $length__icon__lg;
            width: $length__icon__lg;
        }
    }
}